body{
  height: 100vh;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.bg-bubbles{
  
  background: #ffdac1;
  
  background: linear-gradient(to bottom right, #ffb7b2 0%, #ffdac1 100%);
  
  .bubble{
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: -160px;
    
    animation: square 20s infinite;
    
    transition-timing-function: ease-out;
    
    &:nth-child(n+1){
      left: 10%;
    }
    
    &:nth-child(n+2){
      left: 20%;
      
      width: 80px;
      height: 80px;
      
      animation-delay: 2s;
      animation-duration: 17s;
    }
    
    &:nth-child(n+3){
      left: 25%;
      animation-delay: 4s;
    }
    
    &:nth-child(n+4){
      left: 40%;
      width: 60px;
      height: 60px;
      
      animation-duration: 22s;
      
      background-color: rgba(255, 255, 255, 0.2);
    }
    
    &:nth-child(n+5){
      left: 70%;
    }
    
    &:nth-child(n+6){
      left: 80%;
      width: 120px;
      height: 120px;
      
      animation-delay: 3s;
      background-color: rgba(255, 255, 255, 0.25);
    }
    
    &:nth-child(n+7){
      left: 32%;
      width: 160px;
      height: 160px;
      
      animation-delay: 7s;
    }
    
    &:nth-child(n+8){
      left: 55%;
      width: 20px;
      height: 20px;
      
      animation-delay: 15s;
      animation-duration: 40s;
    }
    
    &:nth-child(9){
      left: 25%;
      width: 10px;
      height: 10px;
      
      animation-delay: 2s;
      animation-duration: 40s;
      background-color: fade(white, 30%);
    }
    
    &:nth-child(10){
      left: 90%;
      width: 160px;
      height: 160px;
      
      animation-delay: 11s;
    }
  }
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100vh) translateY(-300px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100vh) translateY(-300px) rotate(600deg); }
}

.h-100 {
  height: 100%;
}

.m-hvp-50 {
  max-height: 50vh;
  overflow: auto;
  border: 1px solid black;
}

.nav-icon {
  font-size: xx-large;
}

.nav-link {
  text-align: center;
  border-radius: 5px;
  min-width: 80px;
  display: inline-block;
  text-decoration: unset;
  color: #ff9aa2;
}

.bg-half-white {
  background-color: rgba(255,255,255, .5);
}

[class*='stato-']{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.stato-attivo {
  background-color: green;
}

.stato-inattivo {
  background-color: red;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

#WACLauncher__Button.chat {
  position: fixed  !important;
  top: 0 !important;
  right: 0 !important;
  background-color: #ffdac1 !important;
  opacity: .5 !important;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  transform: translate(20%, -20%) !important;
  cursor: pointer !important;
}

#login-dialog .p-dialog-header span { display: block; margin: auto;}